<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TodoMapper">
    <sql id="todoColumns">
        id,
        content,
        created
    </sql>

    <insert id="insertTodo" parameterType="TodoDTO">
        INSERT INTO todo (
            <include refid="todoColumns" />
        ) VALUES (
<!--            #{id},-->
            #{content},
            #{created}
        )
    </insert>

    <select id="selectTodo" parameterType="TodoDTO">
        SELECT
        *
        FROM
        todo
        ORDER BY
        created DESC
    </select>
</mapper>